


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title" id="exampleModalLabel" >They Don't Know Me Son</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form" >
          <div class="form-group" style="font-family: nazanin">
            <label for="title" class="col-form-label">عنوان:</label>
            <input required type="text" value="tst" class="form-control" id="title"/>

            <label for="comment" class="col-form-label">توضیحات:</label>
            <textarea required class="form-control" id="comment"></textarea>

            <label for="multiple-checkboxes2" class="col-form-label">کارمندان:</label>
            <select  id="multiple-checkboxes2">
                <option>tst</option>
                <option>tst2</option>
                <option>tst3</option>
                <option>tst4</option>


            </select>

                <label for="fee" class="col-form-label">پاداش:</label>
                <input required type="number" class="form-control" id="fee"/>


              <label for="year" class="col-form-label">ماه:</label>
              <input required value="" type="number" class="form-control" id="year"/>
              <input required  type="number" class="form-control" id="month"/>

              <label for="delivery_date" class="col-form-label">تاریخ تحویل:</label>
              <input required value="09/02/2023" type="date" class="form-control" id="delivery_date"/>
            </div>
                    <button style="font-family: titr" type="submit" class="btn btn-primary">ذخیره تغییرات</button>

        </form>

      </div>

      <div class="modal-footer" style="font-family: titr">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
      </div>

    </div>
  </div>
</div>

